<h1>New address link</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'New address type', new_address_type_path %>
<br>
<br>
<%= link_to 'New address', new_house_number_path %>
<br>
<br>
<%= link_to 'Back', address_links_path %>