<h2>New address</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New city', new_city_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New street', new_street_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Back', house_numbers_path, method: 'get' %>
  </span>
</div>