<h2>New task</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New project', new_project_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>