<h2>New currency</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2 col-md-offset-1">
    <%= button_to 'Back', currencies_path, method: 'get' %>
  </span>
</div>