<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<body>

<h1>Invoicing v1</h1>

<form action=<%= outinvoices_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="outgoing invoices">

</form>

<br>

<form action=<%= ininvoices_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="incoming invoices">

</form>

<br>

<form action=<%= outbills_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="outgoing bills">

</form>

<br>

<form action=<%= inbills_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="incoming bills">

</form>

</body>
</html>
