<h2>Editation of report type</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Show', @report_type, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>