<p id="notice"><%= notice %></p>

<p>
  <strong>Report type:</strong>
  <%= @report_type.name %>
</p>

<%= link_to 'Edit', edit_report_type_path(@report_type) %> |
<br>
<br>
<%= link_to 'Back', report_types_path %>