<h2>New day entry</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Tasks', tasks_path, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', day_entries_path, method: 'get' %>
  </span>
</div>