<h1>Editation of project</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New trade subject', new_trade_subject_path %>
<br>
<br>
<br><%= link_to 'Show', @project %>
<br>
<br>
<%= link_to 'Back', projects_path %>