<h4>New outgoing invoice item</h4>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New Outgoing invoice', new_outinvoice_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New item', new_item_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>