<h1>New outgoing invoice item</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'New Outgoing invoice', new_outinvoice_path %>
<br>
<br>
<%= link_to 'New item', new_item_path %>
<br>
<br>
<%= link_to 'Back', outinvoice_items_path %>