<h2>Editation of VAT charge</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Show', @vat_charge, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'New country', new_country_path, method: 'get' %>
  </span>
</div>