<h2>New payment type</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2 col-md-offset-1">
    <%= button_to 'Back', payment_types_pat, method: 'get' %>
  </span>
</div>