<p id="notice"><%= notice %></p>

<div class="row">   
  <span class="col-sm-8 col-md-4">
    <strong>Payment type:</strong>
    <%= @payment_type.name %>
  </span>
</div>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Edit', edit_payment_type_path(@payment_type), method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>