<h1>New exchange rate</h1>

<%= render 'form' %>
<br>
<br>
<%= link_to 'New bank', new_bank_path %>
<br>
<br>
<%= link_to 'New currency', new_currency_path %>
<br>
<br>
<%= link_to 'Back', exchange_rates_path %>