<h4>Editation of province</h4>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Show', @province, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Countries', countries_path, method: 'get' %>
  </span>
</div>