<h1>Editation of report</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New report type', new_report_type_path %>
<br>
<br>
<%= link_to 'Show', @report %>
<br>
<br>
<%= link_to 'Back', reports_path %>